*{
    font-family: OpenSans;
}

html, body{
    background-color: #000034;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 30%;
}
#banner{
    width: 100%;
    height: 90%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    border-top: #71cbfc 2px solid;
    border-bottom: #71cbfc 2px solid;
}
.header nav{
    width: 25%;
    height: 100%;
}
.header ul{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}
.header img{
    height: 40px;
}
.header li{
    display: flex;
    align-items: center;
    height: 100%;
}
.buscador{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-right: 2%;
    border-radius: 20px;
    width: 25%;
    height: 30%;
    padding: 5px 20px;
}
.buscador img{
    height: 100%;
    padding-right: 2%;
    border-right: 2px black solid;
}
.buscador input{
    margin-left: 2%;
    width: 98%;
    border: none;
    font-size: 15px;
}

#colecciones_act{width: 100%;
    height: 400px;
    background-image: url("img/1.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4rem;
}
#revistas{width: 100%;
    height: 400px;
    background-color: #000034 ; 
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
    border-color: #71cbcf;
    
}

#mask{ background-color: #000034;
width: 100%;
height: 400px;
opacity: 0.9;

}

.libros{
width: 15%;
height:200px;
padding-left:4%;
display: inline-block;


}

#portadas{ width: auto;
height: inherit;
}
#portadas:hover{
border: 4px solid ;
border-color: #71cbcf;
}
.titulos{
padding-left: 4%;
padding-top: 4%;
color: #71cbcf;
font-family: 'Rammetto One';
}
.subtitulos{color: white;
font-family: 'Open Sans';
font-size: 15px;
padding-left: 4%;
padding-top: 0%;
}

footer{
width: 100%;
background-color: black;
border: 1px solid;
border-color: #71cbcf;
display: flex;				 
}
.footer{
width: 50%;

}
.other{color: white;
font-family: 'Open Sans';
font-size: 12px;

}
h3{
width: auto;
padding-left: 4%;
font-family: 'Open Sans';
font-size: 12px;
}
.faq{
color: #71cbcf;
}
.icon{
	width: 40px;
	align-items: center;
}