* {
    font-family: OpenSans;
}

html,
body {
    background-color: #000034;
    width: 100%;
    height: 100%;
}

/*********************************************Header*********************************************/
header {
    width: 100%;
    height: 40%;
}

#banner {
    width: 100%;
    height: 72%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 24%;
    border-top: #71cbfc 2px solid;
    border-bottom: #71cbfc 2px solid;
}

.header nav {
    width: 25%;
    height: 100%;
}

.header ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    list-style: none;
    margin: 0;
    padding-left: 10%;
}

.header ul>:first-child {
    flex-grow: 0.4;
}

.header li {
    display: flex;
    align-items: center;
}

.header a {
    height: 60%;
}

.header img {
    height: 100%;
}

.buscador {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-right: 2%;
    border-radius: 20px;
    width: 25%;
    height: 30%;
    padding: 0.5% 1%;
}

.buscador img {
    height: 100%;
    padding-right: 2%;
    border-right: 2px black solid;
}

.buscador input {
    margin-left: 2%;
    width: 98%;
    border: none;
    font-size: 15px;
    font-family: 'Open Sans';
    outline: none;
}

/*********************************************Body*********************************************/
.colecciones_act {
    width: 100%;
    height: 400px;
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center;
}

#mask {
    background-color: #000034a5;
    width: 100%;
    height: 400px;
}

.libros {
    width: 15%;
    height: 200px;
    padding-left: 4%;
    display: inline-block;
}

.portadas {
    width: auto;
    height: inherit;
}

.portadas:hover {
    border: 4px solid;
    border-color: #71cbfc;
}

.titulos {
    padding-left: 4%;
    padding-top: 4%;
    margin: 0.2% 0 0 0;
    color: #71cbfc;
    font-family: 'Rammetto One';
}

.subtitulos {
    color: white;
    font-family: 'Open Sans';
    font-size: 15px;
    padding-left: 4%;
    padding-top: 0%;
}

/*********************************************Footer*********************************************/
footer {
    width: 80%;
    height: 40%;
    background-color: black;
    color: white;
    padding: 5% 10% 0% 10%;
}

footer section {
    width: 100%;
    height: 80%;
    display: flex;
}

.preguntas-frecuentes{
    width: 50%;
}

.preguntas-frecuentes ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.preguntas-frecuentes a {
    color: #71cbfc;
}
.preguntas-frecuentes a:hover{
    color: white;
}

.informacion-contacto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30%;
}
.informacion-contacto p{
    text-decoration: underline;
}

.informacion-contacto ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    ;
}
.informacion-contacto li{
    display: flex;
    justify-content: center;
}
.informacion-contacto a{
    max-width: 50%;
}
.informacion-contacto img {
    max-width: 100%;
}