*{
    background-color: #dddd;
    font-size: 20px;
}
table{
    width: 90%;
    background-color: #f0f0f0;
    border-collapse: collapse;
    margin: 5%;
}
td, th{
    background: none;
}
tr{
    background-color: transparent;
}
td{
    background-color: #f0f0f0;
}
thead{
    background-color: #0077B6;
    color: white;
}